<form [formGroup]="editMarkerForm" (ngSubmit)="onSubmit()" role="form">
    <!-- START - Image -->
    <input #fileInput type="file" accept="image/png, image/jpeg" name="image" formControlName="image" class="d-none"
        (change)="onFileSelected($event.target.files)">

    <div class="position-relative mb-3">
        <button type="button" class="btn bg-default background-image thumbnail shadow w-100 m-0 p-0"
            style="background-image: url('{{ image.value }}');" (click)="fileInput.click()">
            <div *ngIf="image.value === ''">
                <i class="ni ni-image image-icon text-white m-0 pb-4"></i>
                <h4 class="thumbnail-text text-white m-0">{{ "NO_IMAGE" | translate }}</h4>
                <p class="thumbnail-text text-white m-0">{{ "ADD_MARKER_IMAGE" | translate }}</p>
            </div>
        </button>

        <button *ngIf="image.value !== ''" type="button"
            class="btn btn-secondary rounded-circle btn-icon-only position-absolute right-0 m-3" (click)="clearImage()">
            <span class="btn-inner--icon">✖</span>
        </button>
    </div>
    <!-- END - Image -->
    <!-- START - Title -->
    <div>
        <div class="form-group" [ngClass]="{ 'focused': focusTitle }">
            <div class="input-group mb-3">
                <input type="text" id="title" name="title" formControlName="title" class="form-control"
                    [ngClass]="{ 'is-invalid': (!title?.valid && (title?.dirty || title?.touched) && title.errors?.required) }"
                    placeholder="{{ 'TITLE' | translate }}" (focus)="focusTitle = true" (blur)="focusTitle = false">
            </div>
        </div>
    </div>
    <!-- END - Title -->
    <!-- START - Type -->
    <div>
        <div class="form-group" [ngClass]="{ 'focused': focusType }">
            <div class="input-group mb-3">
                <select id="type" name="type" formControlName="type" class="form-control form-select"
                    [ngClass]="{ 'is-invalid': (!type?.valid && (type?.dirty || type?.touched) && type.errors?.required) }"
                    (focus)="focusType = true" (blur)="focusType = false">
                    <option value="" disabled selected>{{ "TYPE" | translate }}</option>
                    <option *ngFor="let valueStr of typeValues" [value]="valueStr">{{ valueStr | translate }}</option>
                </select>
            </div>
        </div>
    </div>
    <!-- END - Type -->
    <!-- START - Species -->
    <div>
        <div class="form-group" [ngClass]="{ 'focused': focusSpecies }">
            <div class="input-group mb-3">
                <select id="species_id" name="species_id" formControlName="species_id" class="form-control form-select"
                    [ngClass]="{ 'is-invalid': (!species_id?.valid && (species_id?.dirty || species_id?.touched) && species_id.errors?.required) }"
                    (focus)="focusSpecies = true" (blur)="focusSpecies = false" (change)="onSpeciesSelected()">
                    <option value="" disabled selected>{{ "SPECIES_SINGULAR" | translate }}</option>
                    <option *ngFor="let s of allSpecies" [value]="s.id">{{ s.name | translate }}</option>
                </select>
                <div *ngIf="species_id.value !== ''" class="input-group-append">
                    <span class="input-group-text cursor-pointer" (click)="clearSpeciesField()">×</span>
                </div>
            </div>
        </div>
    </div>
    <!-- END - Species -->
    <!-- START - Breed -->
    <div>
        <div class="form-group" [ngClass]="{ 'focused': focusBreed }">
            <div class="input-group mb-3">
                <select id="breed_id" name="breed_id" formControlName="breed_id" class="form-control form-select"
                    [ngClass]="{ 'is-invalid': (!breed_id?.valid && (breed_id?.dirty || breed_id?.touched) && breed_id.errors?.required) }"
                    (focus)="focusBreed = true" (blur)="focusBreed = false">
                    <option value="" disabled selected>{{ "BREED" | translate }}</option>
                    <option *ngFor="let b of breedsBySpecies" [value]="b.id">{{ b.name | translate }}</option>
                </select>
                <div *ngIf="breed_id.value !== ''" class="input-group-append">
                    <span class="input-group-text cursor-pointer" (click)="clearBreedField()">×</span>
                </div>
            </div>
        </div>
    </div>
    <!-- END - Breed -->
    <!-- START - Description -->
    <div>
        <div class="form-group" [ngClass]="{ 'focused': focusDescription }">
            <div class="input-group mb-3">
                <textarea autosize id="description" name="description" formControlName="description"
                    class="form-control description"
                    [ngClass]="{ 'is-invalid': (!description?.valid && (description?.dirty || description?.touched) && description.errors?.required) }"
                    placeholder="{{ 'DESCRIPTION' | translate }}" (focus)="focusDescription = true"
                    (blur)="focusDescription = false">
                </textarea>
            </div>
        </div>
    </div>
    <!-- END - Description -->

    <div class="text-right mt-4">
        <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">
            {{ "CANCEL" | translate }}
        </button>
        <button type="submit" [disabled]="editMarkerForm.invalid" class="btn btn-default">
            {{ "UPDATE" | translate }}
        </button>
    </div>
</form>