<div class="section team-4 bg-default">
    <div class="container">
        <div class="row">
            <div class="team-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 mx-auto text-center mb-5">
                            <h3 class="display-3 text-white">The Executive Team</h3>
                            <h4 class="lead text-white">This is the paragraph where you can write more details about your team.
                                Keep you user engaged by providing meaningful information.</h4>
                        </div>
                    </div>
                    <div class="row justify-content-center">

                        <div class="col-lg-4 col-md-6">
                            <div data-image="profile-image" class="card card-lift--hover card-profile shadow">
                                <div class="card-header">
                                    <div class="card-image">
                                        <a href="javascript:;">
                                            <div style="background-image: url('assets/img/theme/team-2-800x800.jpg');" class="background-image img rounded"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <h4 class="display-4 mb-0 text-default">Sofia Scarlett</h4>
                                    <p class="lead mt-0">UX Designer</p>
                                    <div class="table-responsive">
                                        <ul class="list-unstyled">
                                            <li class="py-1">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="badge badge-circle badge-info mr-3">
                                                            <i class="ni ni-atom"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-1">Keen on great design</h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="py-1">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="badge badge-circle badge-success mr-3">
                                                            <i class="ni ni-user-run"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-1">Outdors lover</h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="py-1">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="badge badge-circle badge-danger mr-3">
                                                            <i class="ni ni-chart-bar-32"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-1">Super friendly support team</h6>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div data-image="profile-image" class="card card-lift--hover card-profile shadow">
                                <div class="card-header">
                                    <div class="card-image">
                                        <a href="javascript:;">
                                            <div style="background-image: url('assets/img/faces/team-5.jpg');" class="background-image img rounded"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <h4 class="display-4 mb-0 text-default">Dylan Wyatt</h4>
                                    <p class="lead mt-0">Team Lead</p>
                                    <div class="table-responsive">
                                        <ul class="list-unstyled">
                                            <li class="py-1">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="badge badge-circle badge-info mr-3">
                                                            <i class="ni ni-atom"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-1">Dedicated entrepreneur</h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="py-1">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="badge badge-circle badge-success mr-3">
                                                            <i class="ni ni-user-run"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-1">Urban exploration</h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="py-1">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="badge badge-circle badge-danger mr-3">
                                                            <i class="ni ni-chart-bar-32"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-1">Nice person</h6>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div data-image="profile-image" class="card card-lift--hover card-profile shadow">
                                <div class="card-header">
                                    <div class="card-image">
                                        <a href="javascript:;">
                                            <div style="background-image: url('assets/img/faces/atikh.jpg');" class="background-image img rounded"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <h4 class="display-4 mb-0 text-default">Mila Skylar</h4>
                                    <p class="lead mt-0">Content Creator</p>
                                    <div class="table-responsive">
                                        <ul class="list-unstyled">
                                            <li class="py-1">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="badge badge-circle badge-info mr-3">
                                                            <i class="ni ni-atom"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-1">High quality publication</h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="py-1">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="badge badge-circle badge-success mr-3">
                                                            <i class="ni ni-user-run"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-1">Storytelling</h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="py-1">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="badge badge-circle badge-danger mr-3">
                                                            <i class="ni ni-chart-bar-32"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-1">Master of words qualification</h6>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>