<div class="section team-4 bg-default">
    <div class="container">
        <div class="row">
            <div class="team-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 mx-auto text-center mb-5">
                            <h3 class="display-3 text-white">{{ "THE_TEAM" | translate }}</h3>
                            <h4 class="lead text-white">{{ "THE_TEAM_DESCRIPTION" | translate }}</h4>
                        </div>
                    </div>
                    <div class="row justify-content-center">

                        <div *ngFor="let member of team" class="col-lg-4 col-md-6">
                            <div data-image="profile-image" class="card card-lift--hover card-profile shadow">
                                <div class="card-header">
                                    <div class="card-image">
                                        <a href="javascript:;">
                                            <div style="background-image: url('{{ member.image }}');" class="background-image img rounded"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <h4 class="display-4 mb-0 text-default">{{ member.name }}</h4>
                                    <p class="lead mt-0">{{ member.position }}</p>
                                    <div class="table-responsive">
                                        <ul class="list-unstyled">
                                            <li class="py-1">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="badge badge-circle badge-info mr-3">
                                                            <i class="ni ni-atom"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-1">{{ member.aptitudes.business }}</h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="py-1">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="badge badge-circle badge-success mr-3">
                                                            <i class="ni ni-user-run"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-1">{{ member.aptitudes.leisure }}</h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="py-1">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="badge badge-circle badge-danger mr-3">
                                                            <i class="ni ni-chart-bar-32"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-1">{{ member.aptitudes.personal }}</h6>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>