<main>
    <!-- Hero for FREE version -->
    <div class="header"></div>

    <section class="section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-1 shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="container-fluid p-0 h-100">
            <div class="row m-0 w-100">
                <!-- START - Main Window -->
                <div class="d-flex col-lg-4 col-12 bg-white shadow p-0 overflow-hidden limit-height front">
                    <div class="w-100">
                        <div class="underline-container">
                            <ul>
                                <li class="" [class.active]="activeTab == matchTabEnum.Messages">
                                    <a class="text-dark" (click)="changeTab(matchTabEnum.Messages)" href="javascript:void(0)">{{ 'MESSAGES' | translate }}</a>
                                </li>
                                <li class="" [class.active]="activeTab == matchTabEnum.Matches">
                                    <a class="text-dark" (click)="changeTab(matchTabEnum.Matches)" href="javascript:void(0)">{{ 'MATCHES' | translate }}</a>
                                </li>
                                <li class="" [class.active]="activeTab == matchTabEnum.Likes">
                                    <a class="text-dark" (click)="changeTab(matchTabEnum.Likes)" href="javascript:void(0)">{{ 'LIKES' | translate }}</a>
                                </li>
                            </ul>
                            <hr
                                class="line"
                                [class.messages-selected]="activeTab == matchTabEnum.Messages"
                                [class.matches-selected]="activeTab == matchTabEnum.Matches"
                                [class.likes-selected]="activeTab == matchTabEnum.Likes"
                            >
                        </div>
                        <!-- START - Tabs -->
                        <div class="h-100 position-relative">
                            <!-- START - Messages Tab -->
                            <div *ngIf="chatsLoaded | async" class="h-100 w-100 position-absolute d-flex swipe-animation"
                                [style]="activeTab == matchTabEnum.Messages ? 'transform: translate(0%);' : 'transform: translate(-100%);'">
                                <div *ngIf="chats.length == 0" class="p-3 w-100 d-flex flex-column justify-content-center align-items-center">
                                    <div class="title text-center">
                                        <h4 class="display-4 font-weight-700">{{ "NO_CHATS" | translate }}</h4>
                                    </div>
                                    <div class="text-center">
                                        <p class="px-md text-dark">{{ "NO_CHATS_DESCRIPTION" | translate }}</p>
                                    </div>
                                </div>
                                <div *ngIf="chats.length > 0" class="py-3 w-100 scroll">
                                    <app-messages *ngFor="let chat of chats" [chat]="chat" [user]="user" (openChatEvent)="openChat($event)"></app-messages>
                                </div>
                            </div>
                            <!-- END - Messages Tab -->
                            <!-- START - Matches Tab -->
                            <div *ngIf="matchesLoaded | async" class="h-100 w-100 position-absolute d-flex swipe-animation"
                                [style]="activeTab == matchTabEnum.Messages ? 'transform: translate(100%);' : activeTab == matchTabEnum.Matches ? 'transform: translate(0%);' : 'transform: translate(-100%);'">
                                <div *ngIf="matches.length == 0" class="p-3 w-100 d-flex flex-column justify-content-center align-items-center">
                                    <div class="title text-center">
                                        <h4 class="display-4 font-weight-700">{{ "NO_MATCHES" | translate }}</h4>
                                    </div>
                                    <div class="text-center">
                                        <p class="px-md text-dark">{{ "NO_MATCHES_DESCRIPTION" | translate }}</p>
                                    </div>
                                </div>
                                <div *ngIf="matches.length > 0" class="p-3 w-100 scroll match-container">
                                    <app-matches *ngFor="let match of matches" [match]="match" [user]="user" (viewProfileEvent)="viewProfile($event)"
                                        (openChatEvent)="openChatByUser($event)" (undoMatchEvent)="undoMatch($event)"></app-matches>
                                </div>
                            </div>
                            <!-- END - Matches Tab -->
                            <!-- START - Likes Tab -->
                            <div class="h-100 w-100 swipe-animation"
                                [style]="activeTab == matchTabEnum.Messages ? 'transform: translate(200%);' : activeTab == matchTabEnum.Matches ? 'transform: translate(100%);' : 'transform: translate(0%);'">
                                <div class="underline-container">
                                    <ul>
                                        <li class="" [class.active]="activeSubTab == likesTabEnum.Received">
                                            <a class="text-dark" (click)="changeSubTab(likesTabEnum.Received)" href="javascript:void(0)">{{ 'RECEIVED' | translate }}</a>
                                        </li>
                                        <li class="" [class.active]="activeSubTab == likesTabEnum.Given">
                                            <a class="text-dark" (click)="changeSubTab(likesTabEnum.Given)" href="javascript:void(0)">{{ 'GIVEN' | translate }}</a>
                                        </li>
                                    </ul>
                                    <hr class="line line-likes" [class.received-selected]="activeSubTab == likesTabEnum.Received"
                                        [class.given-selected]="activeSubTab == likesTabEnum.Given"
                                    >
                                </div>

                                <div class="h-100 position-relative">
                                    <!-- START - Received Tab -->
                                    <div class="h-100 w-100 d-flex position-absolute swipe-animation" [style]="activeSubTab == likesTabEnum.Received ? 'transform: translate(0%);' : 'transform: translate(-100%);'">
                                        <div *ngIf="likesReceived.length == 0" class="p-3 w-100 d-flex flex-column justify-content-center align-items-center">
                                            <div class="title text-center">
                                                <h4 class="display-4 font-weight-700">{{ "NO_LIKES" | translate }}</h4>
                                            </div>
                                            <div class="text-center">
                                                <p class="px-md text-dark">{{ "NO_LIKES_RECEIVED" | translate }}</p>
                                            </div>
                                        </div>
                                        <div *ngIf="likesReceived.length > 0" class="p-3 w-100 scroll match-container">
                                            <app-likes class="flex-grow-1" *ngFor="let like of likesReceived" [like]="like" [user]="user"></app-likes>
                                        </div>
                                    </div>
                                    <!-- END - Received Tab -->
                                    <!-- START - Given Tab -->
                                    <div class="h-100 w-100 d-flex swipe-animation" [style]="activeSubTab == likesTabEnum.Given ? 'transform: translate(0%);' : 'transform: translate(100%);'">
                                        <div *ngIf="likesGiven.length == 0" class="p-3 w-100 d-flex flex-column justify-content-center align-items-center">
                                            <div class="title text-center">
                                                <h4 class="display-4 font-weight-700">{{ "NO_LIKES" | translate }}</h4>
                                            </div>
                                            <div class="text-center">
                                                <p class="px-md text-dark">{{ "NO_LIKES_GIVEN" | translate }}</p>
                                            </div>
                                        </div>
                                        <div *ngIf="likesGiven.length > 0" class="p-3 w-100 scroll match-container">
                                            <app-likes class="flex-grow-1" *ngFor="let like of likesGiven" [like]="like" [user]="user"></app-likes>
                                        </div>
                                    </div>
                                    <!-- END - Given Tab -->
                                </div>
                            </div>
                            <!-- END - Likes Tab -->
                        </div>
                        <!-- END - Tabs -->
                    </div>
                </div>
                <!-- END - Main Window -->
                <!-- START - Chat Window -->
                <app-chat [chat]="currentChat" [user]="user" [isOpen]="isChatOpen" (closeChatEvent)="closeChat()"
                    (viewProfileEvent)="viewProfile($event)" (deleteChatEvent)="deleteChat($event)"
                    (reportUserEvent)="repotUser($event)"
                    class="container-fluid col-lg-4 col-12 limit-height bg-white shadow p-0 overflow-hidden position-absolute chat front"
                    [ngClass]="{'open':isChatOpen === true}"></app-chat>
                <!-- END - Chat Window -->
                <!-- START - User Cards -->
                <div *ngIf="usersLoaded | async" class="d-flex col-lg-8 col-12 justify-content-center align-items-center p-0 limit-height">
                    <div class="position-relative d-flex justify-content-center align-items-center h-75 w-50">
                        <app-user-card class="position-absolute h-100 w-100 dummy"
                            [user]="dummyUser"
                            [isDummy]="true"
                            (likeEvent)="like($event)"
                            (dislikeEvent)="dislike($event)"
                        ></app-user-card>
                        <app-user-card *ngFor="let matchUser of users" class="position-absolute h-100 w-100"
                            [user]="matchUser"
                            [isDummy]="false"
                            (likeEvent)="like($event)"
                            (dislikeEvent)="dislike($event)"
                        ></app-user-card>
                    </div>
                </div>
                <!-- END - User Cards -->
            </div>
        </div>
    </section>
</main>