.post-thumbnail {
    aspect-ratio: 4/3;
    border-radius: 15px;
    border: 2px solid;
}

.image-icon {
    font-size: 3rem;
}

.post-thumbnail-text {
    text-transform: none !important;
}

.accordion-button {
    all: unset;
    cursor: pointer;
}

.post-description {
    min-height: 100px;
}

.arrow {
    transition: rotate .333s ease-in-out;
}

.accordion-header.collapsed .arrow {
    rotate: 0deg;
}

.accordion-header .arrow {
    rotate: 180deg;
}