<input #fileInput type="file" accept="image/png, image/jpeg" name="image" class="d-none" (change)="onFileSelected($event.target.files)">

<div class="position-relative">
    <button class="btn bg-default background-image post-thumbnail shadow w-100 m-0 p-0" style="background-image: url('{{ image }}');" (click)="fileInput.click()">
        <div *ngIf="image === ''">
            <i class="ni ni-image image-icon text-white m-0 pb-4"></i>
            <h4 class="post-thumbnail-text text-white m-0">{{ "NO_IMAGE" | translate }}</h4>
            <p class="post-thumbnail-text text-white m-0">{{ "ADD_POST_IMAGE" | translate }}</p>
        </div>
    </button>
    
    <button *ngIf="image !== ''" class="btn btn-secondary rounded-circle btn-icon-only position-absolute right-0 m-3" (click)="clearImage(); fileInput.value = null">
        <span class="btn-inner--icon">✖</span>
    </button>
</div>

<div ngbAccordion [closeOthers]="true">
    <div class="py-4" ngbAccordionItem [collapsed]="true" [destroyOnHide]="false">
        <div ngbAccordionHeader>
            <button ngbAccordionButton type="button" class="btn btn-icon w-100 d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <i class="ni ni-folder-17 px-2 m-0"></i>
                    <span class="btn-inner--text display-4">{{ "CATEGORIES" | translate }}</span>
                </div>
                <i class="ni ni-bold-down px-2 m-0 arrow"></i>
            </button>
        </div>

        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <app-editor-categories (categorySelectedEvent)="selectCategory($event)"></app-editor-categories>
            </div>
        </div>
    </div>

    <div class="dropdown-divider m-0"></div>

    <div class="py-4" ngbAccordionItem [collapsed]="true" [destroyOnHide]="false">
        <div ngbAccordionHeader>
            <button ngbAccordionButton type="button" class="btn btn-icon w-100 d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <i class="ni ni-tag px-2 m-0"></i>
                    <span class="btn-inner--text display-4">{{ "TAGS" | translate }}</span>
                </div>
                <i class="ni ni-bold-down px-2 m-0 arrow"></i>
            </button>
        </div>

        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    <app-editor-tags (tagAddedEvent)="addTag($event)" (tagRemovedEvent)="removeTag($event)"></app-editor-tags>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="dropdown-divider m-0"></div>

    <div class="py-4" ngbAccordionItem [collapsed]="true" [destroyOnHide]="false">
        <div ngbAccordionHeader>
            <button ngbAccordionButton type="button" class="btn btn-icon w-100 d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <i class="ni ni-caps-small px-2 m-0"></i>
                    <span class="btn-inner--text display-4">{{ "DESCRIPTION" | translate }}</span>
                </div>
                <i class="ni ni-bold-down px-2 m-0 arrow"></i>
            </button>
        </div>
    
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    <div class="input-group pt-4">
                        <textarea autosize #description class="form-control post-description" name="description" placeholder="{{ 'TYPE_A_DESCRIPTION' | translate }}..." (input)="updateDescription(description)"></textarea>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="dropdown-divider m-0"></div>
</div>