.hidden {
    max-height: 5rem;
}

.carousel-item {
    height: auto !important;
}

.comments {
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.circle {
    aspect-ratio: 1 / 1;
    width: 38px;
}

.hide-resize {
    resize: none;
}

.card-header:first-child {
    border-radius: unset;
}

.cover {
    object-fit: cover;
}

.menu-dropdown .menu-button::after {
    display: none;
}