<section *ngIf="postsLoaded | async" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <section class="blogs-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-md-8 mx-auto">
                                <h2 class="title mb-5">{{ "RELATED_STORIES" | translate }}</h2>
                                <app-related-story *ngFor="let post of posts" [post]="post"></app-related-story>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>