.card.card-plain {
    background: 0 0;
    box-shadow: none;
    border: none;
}

.card-blog {
    overflow: hidden;
}

.card {
    position: relative;
}

.card-blog .card-image .img {
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
}

.card-blog.card-plain .card-body {
    padding: 15px 0;
}

.blogs-3 .card.card-blog .card-title {
    margin-bottom: 0.5rem;
}

.blogs-3 .card.card-blog .author {
    position: relative;
    display: inline-block;
    text-align: left;
    margin: 20px auto 0;
}

.author .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.blogs-3 .card.card-blog .author .avatar {
    width: 40px;
    height: 40px;
    position: absolute;
}

.blogs-3 .card.card-blog .author .text {
    position: relative;
    left: 55px;
    top: 1px;
}

.blogs-3 .card.card-blog .author .name {
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1.15;
    max-width: 11em;
    overflow: hidden;
    padding-top: 3px;
    text-overflow: ellipsis;
}

.blogs-3 .card.card-blog .author .meta {
    color: #a49e9e;
    font-size: .8em;
}