<div class="header"></div>

<ng-template #createMarkerContent let-modal>
    <div class="modal-header align-items-center">
        <h4 class="modal-title">{{ "CREATE_MARKER" | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'CLOSE' | translate }}"
            (click)="modal.dismiss('Cross click')">
            <span class="btn-inner--icon">✖</span>
        </button>
    </div>
    <div class="modal-body">
        <app-create-marker (closeModalEvent)="modal.dismiss('Cancel click')"
            (createMarkerEvent)="createMarker($event, modal.dismiss)"></app-create-marker>
    </div>
</ng-template>

<ng-template #editMarkerContent let-modal>
    <div class="modal-header align-items-center">
        <h4 class="modal-title">{{ "EDIT_MARKER" | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'CLOSE' | translate }}"
            (click)="modal.dismiss('Cross click')">
            <span class="btn-inner--icon">✖</span>
        </button>
    </div>
    <div class="modal-body">
        <app-edit-marker [marker]="selectedMarker" (closeModalEvent)="modal.dismiss('Cancel click')"
            (editMarkerEvent)="handleEditMarker($event, modal.dismiss)"></app-edit-marker>
    </div>
</ng-template>

<ng-template #deleteMarkerContent let-modal>
    <div class="modal-header align-items-center">
        <h4 class="modal-title">{{ "DELETE_MARKER" | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'CLOSE' | translate }}"
            (click)="modal.dismiss('Cross click')">
            <span class="btn-inner--icon">✖</span>
        </button>
    </div>
    <div class="modal-body">
        <label>{{ "ARE_YOU_SURE_YOU_WANT_TO_DELETE" | translate }}</label>
    </div>
    <div class="modal-footer">
        <button class="btn btn-block btn-default" (click)="modal.dismiss('No button click')">
            {{ "NO" | translate }}
        </button>
        <button class="btn btn-block btn-danger m-0" (click)="handleDeleteMarker(modal.dismiss)">
            {{ "YES" | translate }}
        </button>
    </div>
</ng-template>

<div class="position-relative">
    <div class="container-fluid p-0">
        <div class="row w-100 m-0">
            <div class="col-lg-3 p-0 limit-height bg-white sidebar" [class.open]="isSidebarOpen">
                <div class="row p-4 m-0">
                    <div class="col-10 col-lg-12 form-group m-0 p-0">
                        <div class="input-group input-group-alternative" [ngClass]="{ 'focused': isSearchbarFocused }">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                            </div>
                            <input #search class="form-control form-control-alternative" placeholder="{{ 'SEARCH' | translate }}..." type="text" (focus)="isSearchbarFocused = true" (blur)="isSearchbarFocused = false">
                            <div *ngIf="search.value !== ''" class="input-group-append cursor-pointer" (click)="search.value = ''">
                                <span class="input-group-text">×</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 p-0 pl-4 d-lg-none">
                        <button type="button" class="btn btn-white w-100 h-100 p-0" (click)="toggleSidebar()">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
                
                <div class="dropdown-divider"></div>
                <app-map-legend [favouriteMarkers]="favouriteMarkers" [user]="user" (filterMarkersEvent)="filterMarkers($event)" (goToMarkerEvent)="goToMarker($event)"></app-map-legend>
            </div>

            <div class="col-lg-9 p-0">
                <div *ngIf="apiLoaded | async">
                    <google-map #myGoogleMap class="google-map" height="100%" width="100%" [zoom]="zoom" [center]="center"
                        [options]="options" (idle)="eventHandler($event, 'idle')" (mapClick)="eventHandler($event,'mapClick')"
                        (mapDblclick)="eventHandler($event,'mapDblclick')" (mapDrag)="eventHandler($event,'mapDrag')"
                        (mapDragend)="eventHandler($event,'mapDragend')" (mapRightclick)="eventHandler($event,'mapRightclick')"
                        (positionChanged)="eventHandler($event,'marker_positionChanged')"
                        (zoomChanged)="eventHandler($event,'zoomChanged')">

                        <map-marker #markerElem="mapMarker" *ngFor="let marker of markers" [position]="marker.position"
                            [label]="marker.label" [title]="marker.title" [options]="marker.options" [icon]="marker.icon"
                            [visible]="marker.visible" (mapClick)="openInfo(markerElem, marker.data)">
                        </map-marker>
                
                        <map-info-window>
                            <app-info [marker]="selectedMarker" [user]="user" (closeEvent)="closeInfo()"
                                (editEvent)="editMarker($event)" (deleteEvent)="deleteMarker($event)"
                                (favouriteEvent)="favouriteMarker($event)" (unfavouriteEvent)="unfavouriteMarker($event)"></app-info>
                        </map-info-window>
                
                        <button type="button" id="go-to-location" class="custom-map-control-button" (click)="setCurrentPosition()">
                            {{ 'GO_TO_LOCATION' | translate }}
                        </button>

                        <button type="button" id="toggle-sidebar" class="custom-map-control-button toggle-sidebar d-lg-none" (click)="toggleSidebar()" >
                            <i class="fa fa-bars"></i>
                        </button>
                    </google-map>
                </div>
            </div>
        </div>
    </div>
</div>
