.aspect-ratio-1by1 {
    aspect-ratio: 1/1;
}

.follow-list {
    text-align: left;
    background-color: #fff;
}

.follow-item {
    font-size: 1rem;
    color: #212529;
    text-align: inherit;
    text-transform: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.follow-item:active,
.follow-item.active {
    background-color: var(--default);
    color: #fff;
}

.follow-item:hover,
.follow-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f6f9fc;
}