.custom-card {
    border-radius: 35px;
    overflow: hidden;
}

.custom-card-component {
    overflow-y: auto;
}

.info-link {
    text-decoration: none;
    position: absolute;
    top: -20px;
    right: 15%;
}

.info-img-container {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    transition: .2s ease-in-out;
}

.info-img-container.dislike,
.info-img-container.like {
    width: 65px;
    height: 65px;
}

.info {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: flex-end;
    width: calc(100% - 60px);
}

.info-link:hover .info-img-container {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    filter: brightness(1.1);
}

.buttons-container {
    bottom: 5%;
}

.match-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 55px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    transition: .2s ease-in-out;
}

.background-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.settings {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    line-height: 1rem;
}