<div class="card h-100 w-100 custom-card">
    <div class="p-0 h-100 custom-card-component">
        <div *ngIf="!isDummy" class="background-image bg-image shadow h-50 w-100" style="background-image: url('{{ user.image }}')"></div>
        <div *ngIf="isDummy" class="background-image bg-image shadow h-50 w-100" style="background-image: url('assets/img/ipetconnect_background.jpg')">
            <button [routerLink]="['/settings']" class="btn btn-secondary rounded-circle btn-icon-only settings">
                <i class="ni ni-settings-gear-65"></i>
            </button>
        </div>
        <div class="h-50 container p-4 position-relative">
            <a *ngIf="!isDummy" (click)="info()" class="info-link" href="javascript:void(0)">
                <div class="info-img-container d-flex justify-content-center align-items-center bg-primary">
                    <div class="image-container d-flex justify-content-center align-items-center text-white">
                        <i class="ni ni-bold-down" aria-hidden="true"></i>
                    </div>
                </div>
            </a>

            <div *ngIf="isDummy" class="p-4">
                <div class="row">
                    <div class="col">
                        <h3 class="text-center display-3">{{ "NO_MORE_USERS" | translate }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="lead">{{ "NO_MORE_USERS_DESCRIPTION" | translate }}</p>
                    </div>
                </div>
            </div>
            
            <div *ngIf="!isDummy" class="container d-flex align-items-center justify-content-between py-2">
                <h3 class="display-4 m-0">{{ user.name }}</h3>
                <p class="display-4 m-0">{{ user.birthday | age }}</p>
            </div>
            
            <div *ngIf="!isDummy" class="container py-2">
                <div class="d-flex align-items-center">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <p class="m-0">IES Campanillas</p>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <p class="m-0">Desarrollador Web</p>
                </div>
        
                <p class="m-0 py-2 pb-lg text-break">{{ user.bio }}</p>
            </div>
        </div>

        <div *ngIf="!isDummy" class="buttons-container w-100 d-flex justify-content-evenly position-absolute text-center">
            <button (click)="dislike()" class="btn btn-danger m-0 d-flex justify-content-center align-items-center info-img-container dislike">
                <div class="d-flex justify-content-center align-items-center text-white image-container display-2">
                    <i aria-hidden="true" class="ni ni-fat-remove"></i>
                </div>
            </button>
            <button (click)="like()" class="btn btn-success m-0 d-flex justify-content-center align-items-center info-img-container like">
                <div class="d-flex justify-content-center align-items-center text-white image-container display-4">
                    <i aria-hidden="true" class="ni ni-favourite-28"></i>
                </div>
            </button>
        </div>
    </div>
</div>