.alerts-container {
    position: fixed;
    bottom: 0;
    right: 1rem;
    width: 50rem;
    z-index: 2000;
}

@media (max-width: 992px) {
    .alerts-container {
        width: calc(100% - 2rem);
    }
}