<main>
    <div class="position-relative">
        <!-- Hero for FREE version -->
        <section class="section section-xl section-hero section-shaped h-100vh">
            <!-- Background circles -->
            <div class="shape shape-style-1 shape-primary">
                <span class="span-150"></span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
            </div>
            <div class="container shape-container d-flex align-items-center py-lg">
                <div class="col py-xl">
                    <div class="row align-items-center justify-content-center">
                        <div class="col text-center">
                            <h1 class="display-1 m-0 text-white" style="font-size: 15em;">404</h1>
                            <h2 class="display-2 m-0 text-white text-uppercase">{{ "NOT_FOUND" | translate }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>