<main>
    <div class="position-relative">
        <div class="container-fluid page-body-wrapper">
            <app-admin-sidebar [user]="user" [activePage]="activePage" (viewEvent)="changeView($event)"></app-admin-sidebar>
            <div class="main-panel">
                <div class="content-wrapper">
                    <app-admin-dashboard *ngIf="activePage == adminViewEnum.Dashboard"></app-admin-dashboard>
                    <app-admin-users *ngIf="activePage == adminViewEnum.Users"></app-admin-users>
                    <app-admin-roles *ngIf="activePage == adminViewEnum.Roles"></app-admin-roles>
                    <app-admin-pets *ngIf="activePage == adminViewEnum.Pets"></app-admin-pets>
                    <app-admin-species *ngIf="activePage == adminViewEnum.Species"></app-admin-species>
                    <app-admin-breeds *ngIf="activePage == adminViewEnum.Breeds"></app-admin-breeds>
                    <app-admin-likes *ngIf="activePage == adminViewEnum.Likes"></app-admin-likes>
                    <app-admin-matches *ngIf="activePage == adminViewEnum.Matches"></app-admin-matches>
                    <app-admin-chats *ngIf="activePage == adminViewEnum.Chats"></app-admin-chats>
                    <app-admin-messages *ngIf="activePage == adminViewEnum.Messages"></app-admin-messages>
                    <app-admin-markers *ngIf="activePage == adminViewEnum.Markers"></app-admin-markers>
                </div>
            </div>
        </div>
    </div>
</main>