<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header bg-white">
                            <img alt="Card image" src="assets/img/ill/bg5-1.svg" class="card-img">
                            <h4 class="card-title text-center">{{ "RESET_PASSWORD" | translate }}</h4>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <small>{{ "ENTER_EMAIL_TO_RESET" | translate }}</small>
                            </div>
                            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" role="form">
                                <!-- START - Email -->
                                <div>
                                    <div class="form-group mb-3" [ngClass]="{ 'focused': focusEmail === true }">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                            </div>
                                            <input type="email" id="email" name="email" formControlName="email"
                                                class="form-control" placeholder="{{ 'EMAIL' | translate }}"
                                                (focus)="focusEmail = true" (blur)="focusEmail = false">
                                        </div>
                                    </div>
                                </div>
                                <!-- END - Email -->

                                <div class="text-center">
                                    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary my-4">{{
                                        "SEND" | translate }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a class="text-light" [routerLink]="['/login']">
                                <small>{{ "LOGIN" | translate }}</small>
                            </a>
                        </div>
                        <div class="col-6 text-right">
                            <a class="text-light" [routerLink]="['/register']">
                                <small>{{ "CREATE_NEW_ACCOUNT" | translate }}</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>