<div *ngIf="(postLoaded | async) || isPreview">
    <div class="wrapper">
        <div class="page-header header-filter">
            <div class="page-header-image" style="background-image: url('{{ post.image }}');"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 pt-lg mx-auto text-center">
                        <h2 class="text-white">{{ post.title }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="floating-box bg-default w-100">
                        <div class="box text-center">
                            <div class="icon icon-shape bg-primary icon-xl rounded-circle text-white">
                                <i class="ni ni-spaceship"></i>
                            </div>
                        </div>
                        <p class="lead text-white p-5">{{ post.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="container">
                <div class="row">
                    <div  class="col-md-8 ml-auto mr-auto">
                        <h6 class="category">{{ post.category_id | blogCategory | async | translate }}</h6>
                        <div [innerHTML]="post.content" class="blog-post"></div>
                    </div>
                </div>
            </div>
        </section>

        <div *ngIf="(tagsLoaded | async) || isPreview" class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <small>{{ "TAGS" | translate }}: </small>
                    <a *ngFor="let tag of tags" [routerLink]="['/blog/tag', tag.id]" class="badge badge-secondary ml-1">{{ tag.name | translate }}</a>
                </div>
            </div>
        </div>

        <section *ngIf="!isPreview" class="section section-blog-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <div class="card shadow">
                            <div class="card-header bg-white">
                                <h5 class="h3 mb-0">{{ "ACTIVITY_FEED" | translate }}</h5>
                            </div>
                            <div *ngIf="postUserLoaded | async" class="card-header bg-white d-flex align-items-center">
                                <div class="d-flex align-items-center">
                                    <div class="avatar shadow background-image" style="background-image: url('{{ postUser.image }}');"></div>
                                    <div class="mx-3">
                                        <p class="text-dark font-weight-600 text-sm m-0">{{ postUser.name }}</p>
                                        <small class="d-block text-muted">{{ post.created_at | date: 'longDate' }}</small>
                                    </div>
                                </div>
                                <div *ngIf="user && user.id !== postUser.id" class="text-right ml-auto">
                                    <button type="button" class="btn btn-sm btn-primary btn-icon">
                                        <span class="btn-inner--icon icon-big">
                                            <i class="ni ni-fat-add"></i>
                                        </span>
                                        <span class="btn-inner--text">{{ "FOLLOW" | translate }}</span>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <div *ngIf="postCommentsLoaded | async">
                                    <app-blog-comment *ngFor="let comment of postComments" [comment]="comment" [user]="user"></app-blog-comment>
                                </div>

                                <div *ngIf="user" class="media align-items-center mt-5">
                                    <div class="avatar avatar-lg shadow rounded-circle background-image mb-4" style="background-image: url('{{ user.image }}');"></div>
                                    <div class="media-body">
                                        <form [formGroup]="commentForm" (ngSubmit)="onSubmit()" role="form">
                                            <div class="form-group" [ngClass]="{ 'focused': focusEmail === true }">
                                                <textarea autosize id="comment" name="comment" formControlName="comment"
                                                    class="form-control"
                                                    placeholder="{{ 'TYPE_A_MESSAGE' | translate }}..."></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button [disabled]="commentForm.invalid" class="btn btn-primary btn-block" type="submit">
                                                    {{ "POST" | translate }}
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <app-related-stories [categoryId]="post.category_id" [postId]="post.id"></app-related-stories>
    </div>
</div>