.map-info-wrapper {
    height: 600px;
}

.background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    overflow-y: auto;
}

.dropdown-toggle::after {
    display: none !important;
}

.legend-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.aspect-ratio-1by1 {
    aspect-ratio: 1 / 1;
}

.legend {
    border: 2px solid transparent;
    border-radius: 10%;
    transition: .2s ease-in-out;
    margin: 2em;
}

.legend img {
    transition: .2s ease-in-out;
    padding: 5px;
}

.legend:hover,
.legend.active {
    border: 2px solid var(--default);
    background-color: var(--default);
    color: white;
}