<div class="container">
    <div class="row p-sm">
        <div class="col">
            <div class="text-center">
                <span class="display-4">Tipo de Marcador</span>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col p-0">
            <ul class="list-unstyled px-sm m-0 legend-container">
                <li class="d-flex flex-column cursor-pointer align-items-center justify-content-center aspect-ratio-1by1 legend"
                    [ngClass]="{ 'active': icon.active }" *ngFor="let icon of icons" (click)="filterMarkers(icon);">
                    <img src="{{ icon.url }}">
                    {{ icon.type | translate }}
                </li>
            </ul>
        </div>
    </div>
</div>