<div class="legend" id="legend">
    <!-- START - Pestañas -->
    <ul class="tabs ui-draggable-handle" id="tabs">
        <li id="leyenda-tab" onclick="setLegendTab('legend')" class="active">
            <img width="25" height="25" src="/assets/img/leyenda.png">
            <span>Leyenda</span>
        </li>
        <li id="filtros-tab" onclick="setLegendTab('filter')" class="">
            <img width="25" height="25" src="/assets/img/filtro.png">
            <span>Filtros</span>
        </li>
    </ul>
    <!-- END - Pestañas -->
</div>