<div class="subscribe-line bg-default">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-10 mx-auto">
                <div class="text-center">
                    <h4 class="title text-white">Subscribe to our Newsletter</h4>
                    <p class="description text-white"> Join our newsletter and get news in your inbox every week! We
                        hate spam too, so no worries about this. </p>
                </div>
                <div class="card card-raised card-form-horizontal">
                    <div class="card-body">
                        <form novalidate="" action="" method="" class="ng-untouched ng-pristine ng-valid">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i
                                                    class="ni ni-email-83"></i></span></div><input
                                            placeholder="Your Email..." type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4"><button type="button" class="btn btn-primary btn-block"> Subscribe
                                    </button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>