<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <img [src]="user.image" class="rounded-circle">
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <button class="btn btn-sm btn-info mr-4" [routerLink]="['/blog/post', 1]">{{ "CONNECT" | translate }}</button>
                
                <button [routerLink]="['/profile/edit']" class="btn btn-sm btn-default float-right">
                  <span class="btn-inner--text">{{ "EDIT_PROFILE" | translate }}</span>
                </button>

              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">22</span>
                  <span class="description">{{ "FRIENDS" | translate }}</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">{{ "PHOTOS" | translate }}</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">{{ "COMMENTS" | translate }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>{{ user.name }}<span class="font-weight-light">, {{ user.birthday | age }}</span>
            </h3>
            <div class="h6 font-weight-300"><i class="ni ni-pin-3 mr-2"></i>Bucharest, Romania</div>
            <div class="h6 mt-4"><i class="ni ni-briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer</div>
            <div><i class="ni ni-hat-3 mr-2"></i>University of Computer Science</div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p class="text-justify" style="white-space: break-spaces;">{{ user.bio }}</p>
                <a href="javascript:void(0)">{{ "SHOW_MORE" | translate }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
