<main>
    <div class="position-relative shadow">
        <section class="page-header blog page-header-small header-filter">
            <div class="page-header-image" style="background-image: url('assets/img/blog/header.jpg');"></div>
            <div class="col-md-6 mb-md-xl mx-auto text-center">
                <h1 class="title text-white text-center">{{ "WELCOME_TO_IPETCONNECT" | translate }}</h1>
            </div>
        </section>
    </div>

    <app-categories></app-categories>
    <app-latest-blogposts></app-latest-blogposts>
    <app-the-team></app-the-team>
    <app-newsletter></app-newsletter>
</main>