<main>
    <div class="position-relative">
        <section class="page-header blog page-header-small header-filter">
            <div class="page-header-image" style="background-image: url('assets/img/pages/nicolas-prieto.jpg');"></div>
            <div class="col-md-6 mx-auto text-center">
                <h1 class="title text-white text-center">¡Bienvenidos al maravilloso mundo de iPetConnect!</h1>
                <a href="#button" class="btn btn-warning rounded-circle btn-icon-only">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#button" class="btn btn-warning rounded-circle btn-icon-only">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </section>
    </div>

    <app-categories></app-categories>
    <app-latest-blogposts></app-latest-blogposts>
    <app-the-team></app-the-team>
    <app-newsletter></app-newsletter>
</main>