.card-profile .card-profile-image img {
    margin-top: -10em;
    max-width: 350px !important;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.upload-button-container {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: -10em;
    top: -5em;
    right: 0;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.card-profile-image img:hover ~ .upload-button-container {
    opacity: 1;
}

.file-input {
    display: none;
}