.card-background[data-animation=zooming] {
    transition: all .3s cubic-bezier(.2, 1, .22, 1);
    -webkit-transition: all .3s cubic-bezier(.2, 1, .22, 1);
}

.blogs-4 .card,
.blogs-4 .card .full-background {
    border-radius: 0;
}

.blogs-4 .card {
    margin-bottom: 0;
    text-align: center;
    height: 530px;
    border: 0;
}

.card-background.card-blog {
    overflow: hidden;
    height: 330px;
}

.card-background {
    background-position: 50%;
    background-size: cover;
    text-align: center;
}

.card-background .full-background {
    background-position: 50%;
    background-size: cover;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.3rem;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 1s cubic-bezier(.2, 1, .22, 1);
    -webkit-transition: all 1s cubic-bezier(.2, 1, .22, 1);
}

.card-background[data-animation=zooming] a:not(.btn) {
    height: 100%;
}

.card-background .card-body {
    position: relative;
    z-index: 2;
    min-height: 330px;
}

.card-background[data-animation=zooming] .card-body {
    margin: initial;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.card-background .card-body .content-bottom {
    text-align: left;
}

.card-background .card-title {
    color: #fff;
}

.card .card-title {
    margin-bottom: 0.5rem;
}

.blogs-4 [class^=col-] {
    padding: 0;
}

.card-background[data-animation=zooming]:hover {
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    z-index: 2;
}

.card-background[data-animation=true]:hover .full-background,
.card-background[data-animation=zooming]:hover .full-background {
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
}

.card-background:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    width: 100%;
    display: block;
    content: "";
    background: rgba(0, 0, 0, .6);
    transition: all 1s cubic-bezier(.2, 1, .22, 1);
}

.card-background[data-animation=zooming]:hover::after {
    background: rgba(0, 0, 0, 0);
}

